***LISTAS***

In [18]:
## Criando uma lista
animais = ["ave", "felino","mamiferos","repteis"]
print(f"Reino animal\n vertebrados: {animais}")

Reino animal
 vertebrados: ['ave', 'felino', 'mamiferos', 'repteis']

In [14]:
listaDiversa = ["Nome", 564, 4.5]
listaDiversa[1]

564

In [15]:
# Substituindo elementos na lsita
listaDiversa[0] = "Sobrenome"
listaDiversa

['Sobrenome', 564, 4.5]

In [20]:
# Removendo numero da lista
animais.remove("ave")

In [21]:
animais

['felino', 'mamiferos', 'repteis']

In [28]:
# Tamanho da lista
print("Tamanho da lista animais:",len(animais))

Tamanho da lista animais: 3

In [30]:
# verificando se o elemento faz parte da lista
"mamiferu" in animais

False

In [51]:
listaNumeros = [222, 5, 6, 76, 200]

In [37]:
# item com o valor maior na lista
max(listaNumeros)

222

In [38]:
# item com o valor menor na lista
min(listaNumeros)

5

In [52]:
# adicionando item na lista
listaNumeros.append(2022)

In [53]:
listaNumeros

[222, 5, 6, 76, 200, 2022]

In [54]:
# adicionando na lista mais de um item
listaNumeros.extend([0, 2023])

In [55]:
listaNumeros

[222, 5, 6, 76, 200, 2022, 0, 2023]

In [56]:
# Quantas vezes aparece o numero 6
listaNumeros.count(6)

1

In [58]:
# Ordenando a lista do maior para o menor
listaNumeros.sort()
listaNumeros

[0, 5, 6, 76, 200, 222, 2022, 2023]

**Tuplas**

In [60]:
#  AS TUPLAS UTILIZAM PARENTESES COMO SINTAXE
tuplaCelulares = ("Nokia", "Samsung", "LG", "Alcatel")

In [61]:
# Exibindo o 3 elemento
tuplaCelulares[3]

'Alcatel'

In [ ]:
# Diferente das listas as tuplas são imutaveis, o que quer dizer que não podemos alterar os seus elementos
tuplaCelulares[3] = "Positivo"

In [63]:
tuplaCelulares.count("Positivo")

0

In [64]:
tuplaCelulares[0:2]

('Nokia', 'Samsung')

**Dicionario**

In [65]:
# Para criar dicionarios utilize {}
dados = {"Nome":"Maria","idade":29,"Sexo":"Feminino"}

In [66]:
dados

{'Nome': 'Maria', 'idade': 29, 'Sexo': 'Feminino'}

In [67]:
#Acessando o valor de um dicionário através da chave
dados["idade"]

29

In [69]:
# Atualizando o valor de um item
dados["Sexo"] = "Não informado"

In [70]:
dados

{'Nome': 'Maria', 'idade': 29, 'Sexo': 'Não informado'}

In [71]:
# Retornando toda as chaves do dicionario
dados.keys()

dict_keys(['Nome', 'idade', 'Sexo'])

In [72]:
# Retornando os valores do dicionario
dados.values()

dict_values(['Maria', 29, 'Não informado'])

In [74]:
# Verificando se já existe uma chave no dicionario e caso não exista inserir
dados.setdefault("Estado Civil","Noiva")

'Noiva'

In [75]:
dados

{'Nome': 'Maria',
 'idade': 29,
 'Sexo': 'Não informado',
 'Estado Civil': 'Noiva'}